prefer-offline=true
registry=https://pkg.harness.io/pkg/ct8onj8YTdaXtKaFsYCRLg/org-nuclia-npm/npm/
@progress:registry=https://pkg.harness.io/pkg/ct8onj8YTdaXtKaFsYCRLg/org-progress_all-npm/npm/

ignore-scripts=true
